# python
__pycache__/
*.pyc

# logs
*.log

# data
*.csv
*.json

# outputs
noon_category_raw/
noon_category_dedup/
noon_product_raw/
noon_product_dedup/
noon_products_scrapped_curl_cffi/
noon_products_scrapped_curl_cffi_dedup/
# env
myenv/
.venv/
